<div class="cart-message{% if settings.cart_goal_text_style == 'uppercase' %} caption-with-letter-spacing{% elsif settings.cart_goal_text_style == 'subtitle' %} subtitle{% endif %}">
        {{ message }}
  <p>Free shipping on order over $78</p>
</div>


<style>
  .cart-message {
    font-size: 14px;
    font-weight: bold;
    color: #333;
    padding: 0.6rem 2rem;
    background: #f2f2f2;
  }
  .cart-message p {
    margin:0;
  }
</style>
