<div class="rating zoom-top" data-rating="{{ section.settings.rating_range  }}">
  <i class="star-1">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 799.89 761" width="25" height="24">
      <path d="M799.89 290.83H494.44L400.09 0l-94.64 290.83L0 290.54l247.37 179.92L152.72 761l247.37-179.63L647.16 761l-94.35-290.54z" fill="#fff"/><path d="M574.04 536.24l-21.23-65.78-152.72 110.91z" fill="#005128"/>
    </svg>
  </i>
  <i class="star-2">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 799.89 761" width="25" height="24">
      <path d="M799.89 290.83H494.44L400.09 0l-94.64 290.83L0 290.54l247.37 179.92L152.72 761l247.37-179.63L647.16 761l-94.35-290.54z" fill="#fff"/><path d="M574.04 536.24l-21.23-65.78-152.72 110.91z" fill="#005128"/>
    </svg>
  </i>
  <i class="star-3">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 799.89 761" width="25" height="24">
      <path d="M799.89 290.83H494.44L400.09 0l-94.64 290.83L0 290.54l247.37 179.92L152.72 761l247.37-179.63L647.16 761l-94.35-290.54z" fill="#fff"/><path d="M574.04 536.24l-21.23-65.78-152.72 110.91z" fill="#005128"/>
    </svg>
  </i>
  <i class="star-4">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 799.89 761" width="25" height="24">
      <path d="M799.89 290.83H494.44L400.09 0l-94.64 290.83L0 290.54l247.37 179.92L152.72 761l247.37-179.63L647.16 761l-94.35-290.54z" fill="#fff"/><path d="M574.04 536.24l-21.23-65.78-152.72 110.91z" fill="#005128"/>
    </svg>
  </i>
  <i class="star-5">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 799.89 761" width="25" height="24">
      <path d="M799.89 290.83H494.44L400.09 0l-94.64 290.83L0 290.54l247.37 179.92L152.72 761l247.37-179.63L647.16 761l-94.35-290.54z" fill="#fff"/><path d="M574.04 536.24l-21.23-65.78-152.72 110.91z" fill="#005128"/>
    </svg>
  </i>
</div>
